/* STACK DE TECNOLOGÍAS – ESTILOS */
.stack-item {
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 8px;
  display: inline-block;
}
.stack-frontend {
  background: #AEC6FF;   
  color: #1a1a1a;
}

/* Pastel Rosa (backend) */
.stack-backend {
  background: #F7CDE6;   /* rosa pastel */
  color: #1a1a1a;
}

/* Pastel Verde (base de datos y otros) */
.stack-base,
.stack-otro {
  background: #CFF8D4;  /* verde pastel */
  color: #1a1a1a;
}
