/* RESET GENERAL: elimina márgenes y ajustes por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FONDO DE LA PÁGINA */
body {
  background: #f0dfcd; /* pastel rosa suave */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px;
}

/* CONTENEDOR PRINCIPAL DEL CV */
.cv-container {
  width: 900px;
  background: #f5baed34; /* pastel azul */
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #d1c9c0;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* CABECERA */
header {
  text-align: center;
  margin-bottom: 30px;
}

/* ESTILO GENERAL DEL NOMBRE */
h1 {
  font-size: 3rem;
  font-weight: bold;
}


.rosa {
  color: #ef3333;
}

/* PARTE NEGRA DEL NOMBRE */
.negro {
  color: #000000;
}

/* ESTILOS ADICIONALES DE HEADER */
header h1 {
  font-size: 32px;
  font-weight: bold;
  color: #9e6262;
}

header h2 {
  font-size: 18px;
  color: #8a4d4d;  /* gris suave */
}

header p {
  font-size: 14px;
  color: #5e0606;
}

/* SECCIONES GENERALES */
section {
  margin-bottom: 30px;
}

/* TÍTULOS DE LAS SECCIONES */
section h2 {
  font-size: 22px;
  margin-bottom: 10px;
  border-left: 5px solid #b13d07fa; 
  padding-left: 8px;
  color: #75111186;
}

/* TEXTO GENERAL */
section p,
section h3 {
  margin-top: 5px;
  font-size: 15px;
  color: #664f1e;
}
/* Colores según tipo */
.color-frontend {
  color: blue;
  font-weight: bold;
}

.color-backend {
  color: green;
  font-weight: bold;
}

.color-bd {
  color: orange;
  font-weight: bold;
}

.color-otros {
  color: purple;
  font-weight: bold;
}

.color-default {
  color: gray;
  font-weight: bold;
}

/* Estilo general del ítem */
.item-tecnologia {
  display: flex;
  align-items: center;
  margin: 5px 0;
  list-style: none;
}

/* Botón eliminar */
.btn-eliminar {
  margin-left: 10px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: rgb(191, 95, 95);
  color: rgb(26, 23, 23);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.2s;
}

.btn-eliminar:hover {
  background-color: rgb(206, 118, 118);
}
/*estilizar con  tarjetas la parte de proyectos*/

.proyectos-section {
  margin-top: 25px;
}

.lista-proyectos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.proyecto-card {
  background: #ffffff50;
  padding: 12px 15px;
  border-radius: 8px;
  border-left: 4px solid #444;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.proyecto-card h4 {
  margin: 0;
  font-size: 18px;
}

.proyecto-card span {
  font-weight: normal;
  color: #555;
}

.proyecto-card p {
  margin: 5px 0 0;
  font-size: 14px;
}

