/* RESET GENERAL: elimina márgenes y ajustes por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FONDO DE LA PÁGINA */
body {
  background: #f0dfcd; /* pastel rosa suave */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px;
}

/* CONTENEDOR PRINCIPAL DEL CV */
.cv-container {
  width: 900px;
  background: #f5baed34; /* pastel azul */
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #d1c9c0;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* CABECERA */
header {
  text-align: center;
  margin-bottom: 30px;
}

/* ESTILO GENERAL DEL NOMBRE */
h1 {
  font-size: 3rem;
  font-weight: bold;
}

/* PARTE ROSA DEL NOMBRE */
.rosa {
  color: #e91515;
}

/* PARTE NEGRA DEL NOMBRE */
.negro {
  color: #000000;
}

/* ESTILOS ADICIONALES DE HEADER */
header h1 {
  font-size: 32px;
  font-weight: bold;
  color: #9e6262;
}

header h2 {
  font-size: 18px;
  color: #8a4d4d;  /* gris suave */
}

header p {
  font-size: 14px;
  color: #5e0606;
}

/* SECCIONES GENERALES */
section {
  margin-bottom: 30px;
}

/* TÍTULOS DE LAS SECCIONES */
section h2 {
  font-size: 22px;
  margin-bottom: 10px;
  border-left: 5px solid #c55c2bfa; /* verde pastel */
  padding-left: 8px;
  color: #75111186;
}

/* TEXTO GENERAL */
section p,
section h3 {
  margin-top: 5px;
  font-size: 15px;
  color: #664f1e;
}
